<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hangman
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hangman</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item>
        <ion-label>Guess this word</ion-label>
        <ion-input [(ngModel)]="hiddenWord"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Guessed</ion-label>
        <ion-input readonly [(ngModel)]="guessed"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Type a character or word</ion-label>
        <ion-input [(ngModel)]="guess" (keypress)="check($event)"></ion-input>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
